<ol class="post-list">
  {{#each categories as |category| }}
  <li>
    <article class="post">
      <div class="title">
        <a href="/posts/{{category}}" target="_blank"><span>({{category}})</span></a>

      </div>

    </article>
  </li>
  {{/each}}
</ol>